#estrellas {
  width: 10rem;
}
label {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: #273746;
}
h3 {
  font-family: 'Mitr', sans-serif;
  font-weight: 500;
  color: #85929E;
}
#score {
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  color: #F1C40F ;
}
