.card {
  background-color: #F0F3F4;
  width: 18rem;
}
.card-header {
  height: 4rem;
}
p {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: #7FB3D5;
}
p strong {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: #34495E;
}
h5 {
  font-family: 'Mitr', sans-serif;
  font-weight: 500;
  color: #85929E;
}
#precio {
  font-family: 'Spartan', sans-serif;
  font-weight: 800;
  color: #F9A825;
}
