footer
{
  margin-top:50px;
  width:100%;
  height:100px;
  background-color: #f7f7f7;
  margin-left: 220px;
  border-top: 0.05px solid #d3d3d3;
}
footer a{
  font-family: "Segoe UI", serif;
  font-weight: 500;
  color: #6f6f6f;
  padding-right: 30px;
}
