<div class="traduction-area">
  <div class="traductor1">
    <a routerLink="/"><span>Detectar idioma</span> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
    </svg></a>

  </div>

  <div class="traductor2">
    <a routerLink="/"><span>Español</span> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
    </svg> </a>

  </div>
  <div class="area-total">
    <div class="area-traductor1">
      <textarea placeholder="Escribe o pega el texto aqui.&#10;Arrastra y suelta aqui archivos PDF, Word (.docx) o Powerpoint (.pptx) para traducirlos."></textarea>
    </div>
    <div class="area-traductor2">
      <textarea></textarea>
    </div>
  </div>
  <div class="dict"><textarea placeholder="Haz clic en una palabra para buscarla en el diccionario."></textarea></div>
</div>
