<!--<menu>
  <ul class="header-menu">
    <li>
      <a routerLink="/"><img src="https://static.deepl.com/img/logo/DeepL_Logo_darkBlue_v2.svg"></a>
    </li>
    <li>
      <a routerLink="/"><img src="https://static.deepl.com/img/logo/DeepL_Text_darkBlue.svg"><span>Traductor</span></a>
    </li>
    <li>
      <a routerLink="/">DeepL Pro</a>
    </li>
    <li>
      <a routerLink="/">API</a>
    </li>
    <li>
      <a routerLink="/">Iniciar Sesion</a>
    </li>
    <li>
      <a routerLink="/">Menu</a>
    </li>
  </ul>
</menu>
-->
<div class="header">
  <div class="logo">
    <img src="https://static.deepl.com/img/logo/DeepL_Logo_darkBlue_v2.svg">
  </div>
  <div class="menu-header">
    <ul class="header-menu">
      <li>
        <a routerLink="/"><img src="https://static.deepl.com/img/logo/DeepL_Text_darkBlue.svg"><span>Traductor</span></a>
      </li>
      <li>
        <a routerLink="/">DeepL Pro</a>
      </li>
      <li>
        <a routerLink="/">API</a>
      </li>
      <li>
        <a routerLink="/">Planes y precios</a>
      </li>
      <li>
        <a routerLink="/">Aplicaciones</a>
      </li>
    </ul>
  </div>
  <div class="right-menu">
    <ul class="right-ul">
      <li>
        <a routerLink="/" class="prueba-gratis">Inicia prueba gratuita</a>
      </li>
      <li>
        <a routerLink="/"> Iniciar sesion</a>
      </li>
      <li>
        <a routerLink="/" class="right-side"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg></a>
      </li>
    </ul>
  </div>
</div>
